<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace 填写持久层接口的全限定路径名 -->
<mapper namespace="cn.itsource.mapper.FeedBacksMapper">
	<!-- List<FeedBacks> findAll(FeedBacksQuery query);根据条件进行查询分页 -->
	<select id="findAll" resultType="FeedBacks">
		select * from t_feedbacks
		<include refid="query"></include>
		limit #{begin},#{pageSize}
	</select>

	<!--Integer findCount(FeedBacksQuery query);根据条件进行查询数据的总条数 -->
	<select id="findCount" resultType="int">
		select count(id) from t_feedbacks
		<include refid="query"></include>
	</select>


	<!-- FeedBacks findById(Long id); 根据id查询数据-->
	<select id="findById" resultType="FeedBacks">
	select * from t_feedbacks where id = #{id}
	</select>

	
	<!-- void del(Long id);根据id删除数据 -->
	<delete id="del">
	delete from t_feedbacks where id = #{id}
	</delete>
	
	<!-- void add(FeedBacks fBacks);添加 -->
	<insert id="add">
	insert into t_feedbacks (name,path,createDate,enable) values(#{name},#{path},#{createDate},#{enable})
	</insert>

	<!-- void update(FeedBacks fBacks);修改 -->
	<update id="update">
	update t_feedbacks 
	
	<set>
	<if test="name != null and '' != name.trim()">
	name = #{name},
	</if>
	<if test="path != null and '' != path.trim()">
	path = #{path},
	</if>
	
	
	
	createDate = #{createDate},enable = #{enable}
	</set>
	 where id = #{id}
	
	</update>

	<!-- List<FeedBacks> getFeeds();响应到前台，好评如潮 -->
	<select id="getFeeds" resultType="FeedBacks">
	select * from t_feedbacks where enable = 1;
	</select>
	



	<!-- 公用sql -->
	<sql id="query">
		<where>
			<if test="enable != null">
				and enable = #{enable}
			</if>
			<!-- trim() 用于去掉两端空白字符串 -->
			<if test="name != null and '' != name.trim()">
				<!-- concat mysql的函数用于拼接字符串 -->
				and name like concat('%',trim(#{name}),'%')
			</if>
		</where>
	</sql>

</mapper>